HTML {
    color: #222;
    background: white;
}
BODY {
    margin: 0 16px;
    font-family: 'Roboto', sans-serif;
}

H1 {
    display: none;
}

A {
    text-decoration: inherit;
    font-weight: bold;
}

/* tables */
TD, TH {
    text-align: left;
    vertical-align: inherit;
}
TH {
    color: #888;
}
TR {
    vertical-align: baseline;
}
TABLE {
    font-size: inherit;
    line-height: inherit;
}
TABLE.compact {
    font-size: 13px;
    line-height: 15px;
}
TABLE *.l {
    text-align: left;
}
TABLE *.c {
    text-align: center;
}
TABLE *.r {
    text-align: right;
}
TABLE.list {
    margin: 1ex 0;
    border: none;
    padding: 0;
    border-collapse: collapse;
}
TABLE.list TH {
    padding: 0 0 0.5ex 1em;
}
TABLE.list TD {
    padding: 0 0 0 1em;
}
TABLE.list TH:first-child, TABLE.list TD:first-child {
    padding-left: 0;
}

.sq {
    font-family: 'Roboto Condensed', sans-serif;
}
.too-large {
    margin: 0;
    border: none;
    padding: 0;
    max-width: 40em;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
    overflow-x: hidden;
    vertical-align: top;
}
.too-large:hover {
    text-overflow: clip;
    overflow: scroll;
}
