<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed%7cRoboto:400,700' rel='stylesheet' type='text/css'>
<title>highlights - {{.ListenAddr}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/css/normalize.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<h1>JvProxy &mdash; {{.ListenAddr}}</h1>
<h2>Highlights</h2>
<dl>
{{range .Entries}}
<dt>{{.RequestURI}}
<dd><table class="list compact">
<tr>
<th>Method
<th>StatusCode
<th>ContentLength
<th>CacheResult
<th>Comment
{{range .Requests}}
<tr>
<td>{{.Method}}
<td>{{.StatusCode}}
<td>{{.ContentLength}}
<td>{{.CacheResult}}
<td>{{.Comment}}
{{end}}
</table>
{{end}}
</dl>
</body>
</html>
