<!DOCTYPE html>
<html>
{{template "head_frag.html" "highlights"}}
<body>
<h1>JvProxy &mdash; {{.ListenAddr}}</h1>
<h2>Highlights</h2>
<dl>
{{range .Entries}}
<dt>{{.RequestURI}} <a href="/variants?url={{.RequestURI}}">[V]</a>
<dd><table class="list compact">
<thead>
<tr>
<th>Method
<th>StatusCode
<th>ContentLength
<th>CacheResult
<th>Comment
<tbody>
{{range .Requests}}
<tr>
<td>{{.Method}}
<td>{{.StatusCode}}
<td>{{.ContentLength}}
<td>{{.CacheResult}}
<td>{{.Comment}}
{{end}}
</table>
{{end}}
</dl>
</body>
</html>
