<!DOCTYPE html>
<html>
{{template "head_frag.html" "log"}}
<body>
<h1>JvProxy &mdash; {{.ListenAddr}}</h1>
<h2>Access Log</h2>
<table class="list compact">
<thead>
<tr>
<th>Time
<th>Cache
<th>Code
<th>Size
<th>Method
<th>URI
<tbody>
{{range .Entries}}<tr>
<td class="sq">{{.RequestTimeNano | FormatDateNano}}
<td>{{.CacheResult}}
<td>{{.StatusCode}}
<td>{{.ContentLength}}
<td>{{.Method}}
<td class="sq"><a href="/variants?url={{.RequestURI}}">V</a>
<span class="too-large">{{.RequestURI}}</span>
{{end}}</table>
</body>
</html>
