<!DOCTYPE html>
{{template "head_frag.html" "store log"}}
<body>
<h1>JvProxy &mdash; {{.ListenAddr}}</h1>
<h2>Store Log</h2>
<table class="list compact">
<thead>
<tr>
<th>DownloadTime
<th>Code
<th>Size
<th>Last Used
<th>Expires
<th>Vary
<th>ETag
<tbody>
{{range .Entries}}<tr>
<td class="sq">{{.DownloadTimeNano | FormatDateNano}}
<td>{{.StatusCode}}
<td>{{.ContentLength}}
<td>{{.LastUsedTime | FormatDate}}
<td>{{.ExpiryTime | FormatDate}}
<td>{{.Vary}}
<td>{{.ETag}}
{{end}}</table>
</body>
</html>
